
html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 14px;
	margin: 0;
}
:root {
	--theme-blue-100: #f1faff;
	--theme-blue-200: #daf2ff;
	--theme-blue-400: #0087cd;
}

body * {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/*  */
.flex {
	display: flex;
	flex-direction: row;
}

.flex-center {
	align-content: center;
	justify-content: center;
}

.page {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

.main-content {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	height: max-content;
	width: 100%;
	justify-items: center;
	height: inherit;
}

header,
footer {
	background-color: var(--theme-blue-200);
}

header h2 {
	margin: 20px;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
}

footer .section {
	text-align: center;
	margin: 1rem 0;
	letter-spacing: 0.15em;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

footer a {
	text-decoration: none;
	color: #002bff;
}

footer a:hover {
	color: #001ca7;
}

button.block {
	width: 100px;
	height: 100px;
	border: 1px solid #bee9ff;
	cursor: pointer;
	background-color: transparent;
}

button.block:hover {
	background-color: #e4f6ff;
}

button.block:disabled {
	background-color: #c7dfeb;
	cursor: not-allowed;
}

.current-player-icon {
	display: none;
	transition: all 0.2s ease-in-out;
}

.current-player-icon svg {
	fill: #007ec0;
}

button.block:hover .current-player-icon,
button.block:disabled .current-player-icon {
	display: block;
}

.block-section {
	border: 2px solid var(--theme-blue-400);
	width: min-content;
	display: grid;
	align-items: center;
	justify-content: center;
	align-content: space-evenly;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
}

.sidebar {
	width: 100%;
	padding: 20px;
	height: 100%;
	background-color: var(--theme-blue-100);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-board {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.action-panel {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2rem;
}
.full-width {
	width: 100% !important;
}

.action-btn {
	width: fit-content;
	margin-top: 1.5rem;
	padding: 10px 20px;
	border: none;
	background-color: var(--theme-blue-200);
	border-radius: 40px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.15em;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.transparent.action-btn {
	background-color: transparent;
    border: 1px solid #6dd0ff;
    border-radius: 10px;
}
.transparent.action-btn:hover {
	border: 1px solid #30beff;
	background-color: var(--theme-blue-200);

}
.action-btn:hover {
	background-color: #cfeeff;
}

.player-info-panel {
	position: relative;
	width: calc(100% - 40px);
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 5px;
}

.player-info-panel.currently-playing {
	background-color: #d1ffea;
}

.player-title {
	font-size: 1.25rem;
	font-weight: 600;
	color: #8c8c8c;
	margin-bottom: 1rem;
	width: 80%;
	padding-left: 0.75rem;
	margin-top: 2rem;
}

.notification-chip {
	    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 0.85rem;
    margin-left: 15px;
    font-style: italic;
    float: right;
    line-height: 22px;
	display: none;
	color: #00c66c;
}

.player-info-panel.currently-playing .notification-chip {
	display: inline-block;
}

.player-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.hide {
	display: none !important;
}

.icon-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.icon-btn svg {
	fill: #656565;
}

.icon-btn:hover svg {
	fill: #222222;
}

.edit-name {
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid #bee9ff;
	padding: 5px 10px;
	width: calc(100% - 40px);
	font-weight: 500;
}

.edit-name:disabled {
	border-color: transparent;
	background: transparent;
}

.m-t-2 {
	margin-top: 2rem;
}

.winner-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
    z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
    background-color: #daf2ffb8;
    border-radius: 30px;
    box-shadow: #ccccccbd 0px 0px 75px;
}


.announcement-panel {
	font-size: 2.5rem;
	font-weight: 300;
}

.winner-name {
	font-weight: 600;
}